{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">
      <marquee>

        <h1 class = 'm-2'>Contact Us</h1>     
      </marquee>
    </div>
 
  
  <center>
  <div class="card contactusjumbo m-3">

      <h2 class = 'm-5'>Customer Care Numbers</h2>
      <figure class="text-center">
        <blockquote class="blockquote">
          <p><i class='bx bxs-phone-call'></i> Branch A : 18222 258 42 55 (toll-free)</p>
        </blockquote>
        <blockquote class="blockquote">
          <p> <i class='bx bxs-phone-call'></i> Branch B : 18222 258 43 55 (toll-free)</p>
        </blockquote>
        <blockquote class="blockquote">
          <p><i class='bx bxs-phone-call'></i> Branch C : 18222 258 44 55 (toll-free)</p>
        </blockquote>
        <br>
      </br>
        <figcaption class="blockquote-footer text-light">
          Write to us at: <cite title="Source Title"> ABC Bank Limited
          ABC Phone Banking Center, ABC Bank Tower, 7th floor,
          Survey no: 11234/27, Plot no. 12, ABC Road, 
          State – 250232. </cite>
        </figcaption>
        <figcaption class="blockquote-footer text-light">
          <i class='bx bxs-envelope' ></i> Or Email to us at: <cite title="Source Title"> customercare@abcbank.com </cite>
        </figcaption>
      </figure>
        <b>Contact Us Page <br>&copy; Developed By Vyshali Lasitha</p>
        </b>

      </center>
   
      {% endblock content %}
   