{% extends 'base.html' %}

{% block content %}
 
  
   
    <div class="container-fluid">
      <h1 class = 'm-2'>Doorstep Banking Services Form</h1>     
    </div>
 
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dissmissible fade show" role="alert">
    <strong> {{ message }} </strong>
    <a href = '/services/'>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </a>
  </div>
  {% endfor %}  
  
<div class="card bg-dark m-3">
  <body class = 'bg-dark text-light'>
    <div class="container bg-dark text-light">
  
      <form class = 'form-control bg-dark text-light' method="POST" action = ''>
        {% csrf_token %}
      
        <div class="col-auto m-2">
          
          {{form}}
          
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-success mb-3 mt-3 m-2"><b>Submit</b></button>
          </div>
        </div>
      </form>
    </div>
  </body>
  <br>
  <center>     
  <figcaption class="">
  
          Or Call to us at: <cite title="Source Title"> Customer Care Number - 18222 258 44 99 (toll-free) to log service requests guided by Banking Personnel </cite>
        </figcaption>
        <figcaption class="">
           Click here to view the <cite title="Source Title"><a href ="/termsandconditions/">Terms & Conditions</a> </cite>
        </figcaption>
     
      <br>
      </figure>
        <b>Doorstep Banking Services Page <br>&copy; Developed By Vyshali Lasitha</p>
      </b>
  
      <a href = 'http://127.0.0.1:8000/'>
        <div class="card bg-dark" style="width: 15rem;">
          <button class="accounts mb-5" > Home</button>
          <div class="card-body mb-5">
          </div>
        </div>
      </a>

      </center>

      {% endblock content %}
   