{% extends 'base.html' %}

{% block content %}
  <body class = 'bg-dark text-light'>
  
   <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
      <h1 class = 'm-2'>Terms and Conditions</h1>     
    </div>
  </nav>
  
  <!-- <center> -->
  <div class="card bg-dark m-3">

        <figcaption class="blockquote-footer">
          Instructions/Guidelines for Customers <cite title="Source Title"> <br>
            1. Services Available:<br>
            The following Financial/Non-Financial services are available.<br>
            i. Cash Pick up and Cash Delivery from own account<br>
            ii. Cheque/Instrument Pickup for Collection /Clearing for own account<br>
            (The Bank may add/ amend services from time to time)<br>
            2. Availability:<br>
            i. The service request can be made at Toll Free Number 1800 1111 03 between
            9 am to 4 pm on working days at the centre.<br>
            ii. The services request can also be made through Doorstep Banking Tab under
            Banking Services.<br>
            iii. These services will be available to customers having Registered address
            within a radius of 5 Km from the Home Branch.<br>
            iv. The DSB Service is available in Savings Bank/ Current Account of resident
            individual customer only.<br>
            v. The services are not available to-<br>
             a) Minor including under Guardianship<br>
             b) Customers having opened Savings Bank Account under Motor
             Accident Claim Product/Scheme.
             c) Joint Account operated Jointly.<br>
             d) Account operated through Power of Attorney.<br>
             e) Non-Individual Customers<br>
            
            4. Turnaround Time:<br>
            The service delivery through Doorstep Banking Agent (DSA) would be completed
            expeditiously on best effort basis but not later than T+1 working day (holidays
            excluded).<br> </cite>
        </figcaption>
    <center>
        <figcaption class="blockquote-footer">
          For more queries or information, please Call to us at: <cite title="Source Title"> 18222 258 44 55 (toll-free)</cite>
        </figcaption>
        <figcaption class="blockquote-footer">
          Or Email to us at: <cite title="Source Title"> customercare@abcbank.com </cite>
        </figcaption>
      </figure>
        <b>Terms and conditions Page <br>&copy; Developed By Vyshali Lasitha</p>
      </b>

      <a href = 'http://127.0.0.1:8000/services/'>
        <div class="card bg-dark" style="width: 15rem;">
          <!-- <img src="../static/img/perspective_matte.png" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <button class="accounts" > Back </button>
          </div>
        </div>
        </a>

      </center>
    
      {% endblock content %}
   